<head><link rel="stylesheet" type='text/css' href="/listings.css">
  <link href='https://fonts.googleapis.com/css?family=Merienda' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>

<span style="text-decoration: underline; color: #0099ff; font-family:courier"> <h1> Welcome, <%= @user.username %> </h1> </span>
<h1> All Listings: </h1>
<% @listings.each do |listing| %>
<% if listing.owner_id == @user.id %>
<h3><%= listing.name %> (your space)</h3>
<% else %>

<h3><u><%= listing.name %></u></h3>
<h4>Description: <%= listing.description %></h4>
<h4>Price Per Night: £<%= listing.price %></h4>
<h4>Host: <%= (User.retrieve(listing.owner_id)).username %></h4>

<% dates = (Listing.available_dates(listing)) %>
<% dates.each do |x| %>
<h4>Available on: <%= x.dates %></h4>
<% end%>

<form action='/<%= listing.id %>/request' method='POST'>
  <input type='hidden' name='_method' value='PATCH'>
  <input type='hidden' name='listing_id' value='<%= listing.id %>'>
  <input type='submit' value='Request <%=listing.name %>'>
</form>
<% end %>
<% end %>

<div class='listings'>Available spaces
<% @listings.each do |listing| %>
  <% if listing.owner_id == @user.id %>
  <div class='your_space'> <%= listing.name %> </div>
  <% else %>

  <h3><u><%= listing.name %></u></h3>
  <h4>Description: <%= listing.description %></h4>
  <h4>Price Per Night: £<%= listing.price %></h4>
  <h4>Host: <%= (User.retrieve(listing.owner_id)).username %></h4>

  <form action='/<%= listing.id %>/request' method='POST'>
    <input type='hidden' name='_method' value='PATCH'>
    <input type='hidden' name='listing_id' value='<%= listing.id %>'>
    <input type='submit' value='Request <%=listing.name %>'>
  </form>
  <% end %>
  <% end %>
</div>

<!-- <div class='welcome'> Welcome, <%= @user.username %> </div>
  <div class='welcome_buttons'>
    <form action='/<%= @user.id %>/my_listings' method='GET'>
    <input type='submit' value='My Listings'>
  </form>
  <form action='/' method='GET'>
    <input type='submit' value='Sign Out'>
  </form></div>
</div> -->
</body>
