<body  background="https://www.vacanceole.com/wp-content/uploads/MONT-ST-MICHEL.jpg">

<span style="text-decoration: underline; color: #0099ff; font-family:courier"> <h1> Welcome, <%= @user.username %> </h1> </span>
<h1> Your Listings: </h1>
<% @user_listings.each do |listing| %>
<br><%= listing.name %></br>
<% end %>

<h1> Your Requests: </h1>
<% @my_requests.each do |request| %>
  <% if (Request.return_request(request.id)).is_approved == "t" %>
    <%= request.name %> (approved)
  <% else %>
    <%= request.name %>
    <form action='/<%= request.id %>/approve' method='POST'>
      <input type='hidden' name='_method' value='PATCH'>
      <input type='hidden' name='request_id' value='<%= request.id %>'>
      <input type='submit' value='Approve'>
    </form>
    <form action='/<%= request.id %>/reject' method='POST'>
      <input type='hidden' name='_method' value='PATCH'>
      <input type='hidden' name='request_id' value='<%= request.id %>'>
      <input type='submit' value='Reject'>
    </form>

<% end %>
<% end %>

<form action='/<%= @user.id %>/all_listings' method='GET'>
  <input type='submit' value='All Listings'>
</form>

<form action='/add_listing' method='POST'>
  <input type='text' name='name'>
  <input type='submit' value='Add Listing'>
</form>

<div style='border: 20px '>

</div>
</body>
